*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 53px;
    /*remove later border: solid 1px blue; */
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    /*remove later border: solid 1px yellowgreen;*/
}
header img {
    height: 53px;
}

header p {
    font-size: 28px;
    margin-left: 20px;
    /*remove later border: solid 1px purple;*/
}

nav {
    font-size: 15px;
    margin-right: 40px;
    /*remove later border: solid 1px red;*/
}
nav a {
    text-decoration: none;
    color: #18471B;
    padding-left: 10px;
    padding-right: 15px;
}

nav button, .about button {
    padding: 11px 24px;
    border-radius: 6px;
    border: 1px solid #18471B;
}

.button1 {
    color: #18471B;
}

.button2 {
    color: white;
    background-color: #18471B;
    text-transform: uppercase;
    padding-right: 20px;
}

.burger, #menuchk {
    display: none;
}

.banner {
    position: relative;
    width: 100%;
}

.banner img {
    /*cannot be 100%?, because figma shows the image reducing in tablet and mobile
    height: 960px;
    width: 1680px;
    */
    width: 100%;
}

.bannerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -200px;
    margin-bottom: 100px;    
}

.bannerInfo p {
    /*struggling to keep the text centered and in flex-wrap in tablet and mobile*/
    font-family: "Sacramento";
    color: #F7B180;
    font-size: 80px;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    text-align: center;
     /*remove later border: solid 1px orange;*/
}

.bannerInfo a {
    /*how to get the button and <p> to move as one so there is no overlap in mobile*/
    text-decoration: none;
    color: white;
    background-color: #18471B;
    font-family: "Montserrat";
    font-size: 20px;
    padding: 11px 12px;
    border-radius: 6px;
    border: 1px solid #18471B;
    /*remove later border: solid 1px orange;*/
    
    
}
.about {
    padding: 60px;
    width: 100%;
    /*remove later border: solid 1px orange;*/
}

.about :nth-child(1) {
    font-size: 48px;
    padding-bottom: 25px;
}

.about :nth-child(2) {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.about :nth-child(3) {
    font-size: 18px;
}

.about :nth-child(4) {
    font-size: 18px;
}

.about button {
    margin-top: 20px;
}

.awards {
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
    /*remove later border: solid 1px brown;*/
}

.pic1 {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    /*remove later border: solid 1px green;*/
}

.pic2 {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
     /*remove later border: solid 1px green;*/
}

.pic3 {
    object-fit: cover;
    border-radius: 50%;
    height: 300px;
    width: 300px;
     /*remove later border: 1px solid green;*/
}

.featured {
    background-color: #F7B180;
    display: flex;
    padding: 80px;
}

.featured img {
    width: 750px;
    height: 440px;
    margin-right: 80px
}

#featuredTitle {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 24px;
}

#browseTitle {
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin: 120px 0 135px 80px;
}

#browseContent {
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    margin: 0 300px 0 80px;

}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 429px;
    height:560px;
    border: 1px solid black;
    margin: 85px;
}

.card img {
    width: 429px;
    height: 275px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-top: 70px;
}

.card-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    margin-top: 24px;
}

.booking {
    background-color:#F7B180;
    padding: 120px 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.booking p {
    font-family: "Sacremento", "Lucida Handwriting", "Brush Script MT", cursive;
    font-weight: 400;
    font-size: 80px;
    line-height: 85px;
    margin-left: 80px;
}

.booking-buttons a {
    padding: 16px 44px;
    text-decoration: none;
    border: 1px solid black;
    border-radius: 8px;
}

.booking-buttons a:first-child {
    color: white;
    background-color: #18471B;
    margin-right: 45px;
}

.contact {
    background-color: white;
    color: black;
    margin-right: 64px;
}

footer {
    height: 425px;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
    align-items: center;
}

hr {
    width: 1520px;
    height: 1px;
    left: 80px;
    top: 192px;
    background: rgba(0, 0, 0, 0.5);
}

footer img {
    width:44px;
    height:44px;
    margin: 40px 24px;
}

footer p {
    margin-bottom: 44px;
}

/*tablet*/
@media (min-width: 1198px) and (max-width: 1799px){
    .burger, #menuchk {
        display: none;
    }
    
    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .banner img {
        /*cannot be 100%, because figma shows the image reducing in tablet and mobile
        height: 960px;
        width: 1680px;
        */
        width: auto;
    }
    
    .bannerInfo p {
        width: 50%;
    }
    
    .featured {
        background-color: #F7B180;
        padding: 80px 140px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .featured img {
        width: 750px;
        height: 440px;
    }

    .featuredText {
        width: 686px;
        margin-top: 52px;
    }
    
    #featuredTitle {
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 24px;
    }
    
    .booking {
        background-color:#F7B180;
        padding: 120px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .booking p {
        font-family: "Sacremento", "Lucida Handwriting", "Brush Script MT", cursive;
        font-weight: 400;
        font-size: 80px;
        line-height: 85px;
        margin-left: 80px;
    }
    
    .booking-buttons a {
        padding: 16px 44px;
        text-decoration: none;
        border: 1px solid black;
        border-radius: 8px;
    }
    
    .booking-buttons a:first-child {
        color: white;
        background-color: #18471B;
        margin-right: 45px;
    }

    hr {
        width: 848px;
        height: 1px;
        left: -248px;
        top: 192px;
        background: rgba(0, 0, 0, 0.5);
    }

    footer {
        height: 306px;
    }
}

/*Mobile Styles*/
@media (min-width: 320px) and (max-width: 1197px) {
    .logo {
        padding-left: 20px;
    }
    nav {
        display: none;
    }

    .burger {
        display: block;
        color: gray;
        margin-right: 20px;
        font-size: 2em;
        font-family: Montserrat, sans-serif;
        /*remove later border: 1px solid blue;*/
        
    }
    /*why do I have 2 burgers?*/
    #menuchk:checked + nav {
        display: flex;
        width: 100%;
        align-items: flex-end; 
        position: absolute;
        top: 53px;
        left: 0
        right: 10px;
    }
    .banner img {
        display: flex;
        justify-content: center;
    }
    .bannerInfo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .bannerInfo p {
        width:70%;
        text-align: center;
        margin-top: -100px;
    }

    .bannerInfo a {
        margin-top: -300px;
        justify-content: center;
    }

    .about {
        margin-top: -200px;
    }
    .featured {
        background-color: #F7B180;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .featured img {
        margin-left: 88px;
        width: 385px;
        height: 384px;
    }

    .featuredText {
        width: 352px;
        margin-top: 52px;
        text-align: center;
    }
    
    #featuredTitle {
        font-weight: 700;
        font-size: 24px;
    }

    .browse {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #browseTitle, #browseContent {
        width: 401px;
        margin-right: 64px;
    }
    
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .booking {
        padding: 80px 8px;
        flex-wrap: wrap;
    }

    .booking-buttons {
        margin: 48px 24px 24px 96px;
    }

    hr {
        display: none;
    }

    footer {
        height: 194px;
    }
}