*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/*This is just a test*/
body {
    font-family: "Montserrat";
}

.flex-container {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 53px;
    /*remove later*/ border: solid 1px blue;
}

.logo {
    display: flex;

}

header img {
    height: 53px;
    margin-right: 20px;
}

header p {
    font-size: 28px;
    margin-right: 160px;
    /*remove later*/ border: solid 1px purple;
}

nav {
    font-size: 15px;
    /*remove later*/ border: solid 1px red;
  
    
}
nav a {
    text-decoration: none;
    color: #18471B;
    padding-left: 10px;
    padding-right: 15px;
}

nav button, .about button{
    padding: 11px 24px;
    border-radius: 6px;
    border: 1px solid #18471B;

}

.button1 {
    color: #18471B;
    
    
}

.button2 {
    color: white;
    background-color: #18471B;
    text-transform: uppercase;
    padding-right: 20px;
    
}

.banner {
    position: relative;
    text-align: center;
    width: 100%;
}

.banner img {
    /*cannot be 100%, because the image reduces in tablet and mobile*/
    height: 960px;
    width: 1680px;
}

.banner p {
    /*struggling to get the text in one line without wrapping*/
    font-family: "Sacramento";
    color: #F7B180;
    font-size: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content; /*is this the problem area?*/
}

.banner button {
    /*how to get the button and <p> to move as one so there is no overlap in tablet and mobile*/
    color: white;
    background-color: #18471B;
    font-family: "Montserrat";
    font-size: 20px;
    text-transform: uppercase;
    padding: 11px 12px;
    border-radius: 6px;
    border: 1px solid #18471B;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
    margin: 60px;

}

.about :nth-child(1){
    font-size: 48px;
    padding-bottom: 40px;
}

.about :nth-child(2){
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.about :nth-child(3, 4){
    font-size: 18px;
}

.about button {
    margin-top: 20px;
}

.awards {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pic1 {
    ellipse(282px, 278px);
    /*width: 282px;
    height: 278px;*/
}

.pic2 {
    width: 282px;
    height: 278px;

}

.pic3 {
    ellipse(318px, 298px);
    
}

@media ()
